# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.creative code.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Documents\ecole\3GDB\creative coding\creative-coding\creative code\.idea\.idea.creative code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
